<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>assignment02_1</display-name>
  <context-param>
    <param-name>inventory-file</param-name>
    <param-value>/WEB-INF/inventory.csv</param-value>
  </context-param>
  <listener>
    <listener-class>org.mcgill.ccs2_505.assignment02.listeners.InventoryListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UpdateInventory</display-name>
    <servlet-name>UpdateInventory</servlet-name>
    <servlet-class>org.mcgill.ccs2_505.assignment02.servlets.UpdateInventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInventory</servlet-name>
    <url-pattern>/updateInventory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayInventory</display-name>
    <servlet-name>DisplayInventory</servlet-name>
    <servlet-class>org.mcgill.ccs2_505.assignment02.servlets.DisplayInventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayInventory</servlet-name>
    <url-pattern>/displayInventory.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
  </welcome-file-list>
</web-app>