<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TP4User29</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:sqlserver://numerus.hec.ca:1433;database=3711;loginTimeout=30;</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>user29</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>FTP_u53r29</param-value>
  </context-param>
  <servlet>
    <servlet-name>InventaireServlet</servlet-name>
    <servlet-class>daa.a2017.user29.controleur.InventaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventaireServlet</servlet-name>
    <url-pattern>/Inventaire</url-pattern>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimeVoitureServlet</servlet-name>
    <servlet-class>daa.a2017.user29.controleur.SupprimeVoitureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeVoitureServlet</servlet-name>
    <url-pattern>/SupprimeVoiture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutVoitureServlet</servlet-name>
    <servlet-class>daa.a2017.user29.controleur.AjoutVoitureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutVoitureServlet</servlet-name>
    <url-pattern>/AjoutVoiture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MiseAJourServlet</servlet-name>
    <servlet-class>daa.a2017.user29.controleur.MiseAJourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiseAJourServlet</servlet-name>
    <url-pattern>/MiseAJour</url-pattern>
  </servlet-mapping>
</web-app>